.hide-image {
	img {
		display: none !important;
	}
}

.blink {
	button:hover {
		color: oklch(var(--bc)) !important;
	}
	--blink-bg-primary: none !important;
	--blink-button: oklch(var(--p)) !important;
	--blink-button-disabled: oklch(var(--bc)) !important;
	--blink-button-hover: oklch(var(--b2)) !important;
	--blink-button-success: oklch(var(--su)) !important;
	--blink-icon-error: oklch(var(--er)) !important;
	--blink-icon-error-hover: oklch(var(--er)) !important;
	--blink-icon-primary: none !important;
	--blink-icon-primary-hover: none !important;
	--blink-icon-warning: oklch(var(--wa)) !important;
	--blink-icon-warning-hover: oklch(var(--wa)) !important;
	--blink-input-bg: none !important;
	--blink-input-stroke: #3d4144;
	--blink-input-stroke-disabled: #2f3336;
	--blink-input-stroke-error: oklch(var(--er)) !important;
	--blink-input-stroke-hover: #6e767d;
	--blink-input-stroke-selected: #1d9bf0;
	--blink-stroke-error: oklch(var(--er)) !important;
	--blink-stroke-primary: oklch(var(--b1)) !important;
	--blink-stroke-secondary: #3d4144;
	--blink-stroke-warning: oklch(var(--wa)) !important;
	--blink-text-brand: oklch(var(--p)) !important;
	--blink-text-button: oklch(var(--pc)) !important;
	--blink-text-button-disabled: #768088;
	--blink-text-button-success: oklch(var(--su)) !important;
	--blink-text-error: oklch(var(--er)) !important;
	--blink-text-error-hover: oklch(var(--er)) !important;
	--blink-text-input: #ffffff;
	--blink-text-input-disabled: #566470;
	--blink-text-input-placeholder: #6e767d;
	--blink-text-link: #6e767d;
	--blink-text-link-hover: #949ca4;
	--blink-text-primary: none !important;
	--blink-text-secondary: none !important;
	--blink-text-success: oklch(var(--su)) !important;
	--blink-text-warning: oklch(var(--wa)) !important;
	--blink-text-warning-hover: oklch(var(--wa)) !important;
	--blink-transparent-error: #aa00001a;
	--blink-transparent-grey: #6e767d1a;
	--blink-transparent-warning: #a966001a;
	--blink-shadow-container: none !important;
}
